.transaction_table {
  font-size: 15px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th {
  background: #afcde7;
  color: white;
  padding: 10px 20px;
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

td {
  padding: 10px 20px;
}

.table_row:nth-child(odd) {
  background: white;
}
.table_row:nth-child(even) {
  background: #d8e6f3;
}
